src/main/java/com/buf/LoginWebService/ydzyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ydzyService.webservice.ep" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://ydzyService.webservice.ep" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ydzyService.webservice.ep">
            <xs:element name="sgpmsGetData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sgpmsGetDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="sgpmsGetDataResponse">
    <wsdl:part name="parameters" element="ns:sgpmsGetDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sgpmsGetDataRequest">
    <wsdl:part name="parameters" element="ns:sgpmsGetData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ydzyServicePortType">
    <wsdl:operation name="sgpmsGetData">
      <wsdl:input message="ns:sgpmsGetDataRequest" wsaw:Action="urn:sgpmsGetData">
    </wsdl:input>
      <wsdl:output message="ns:sgpmsGetDataResponse" wsaw:Action="urn:sgpmsGetDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ydzyServiceHttpBinding" type="ns:ydzyServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="sgpmsGetData">
      <http:operation location="ydzyService/sgpmsGetData"/>
      <wsdl:input>
        <mime:content part="sgpmsGetData" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sgpmsGetData" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ydzyServiceSoap12Binding" type="ns:ydzyServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sgpmsGetData">
      <soap12:operation soapAction="urn:sgpmsGetData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ydzyServiceSoap11Binding" type="ns:ydzyServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sgpmsGetData">
      <soap:operation soapAction="urn:sgpmsGetData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ydzyService">
    <wsdl:port name="ydzyServiceHttpSoap11Endpoint" binding="ns:ydzyServiceSoap11Binding">
      <soap:address location="http://10.160.8.60:17021/content/services/ydzyService/"/>
    </wsdl:port>
    <wsdl:port name="ydzyServiceHttpEndpoint" binding="ns:ydzyServiceHttpBinding">
      <http:address location="http://10.160.8.60:17021/content/services/ydzyService/"/>
    </wsdl:port>
    <wsdl:port name="ydzyServiceHttpSoap12Endpoint" binding="ns:ydzyServiceSoap12Binding">
      <soap12:address location="http://10.160.8.60:17021/content/services/ydzyService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
